*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #3c0a44;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
ul a:hover{
    color: blueviolet;
}
.left{
    margin-top: -7px;
    font-size: 2rem;
}
nav{
    padding: 1rem;
    background-color: #240c2d;
    height: 64px;
    display: flex;
    justify-content: space-around;
}
.bookmarks{
    display: flex;
    gap: 60px;
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 95px 0;
    margin-left: 30px;
}
.first>div{
    width: 38%;
}
.purple{
    color: #d90077;
    font-weight: 500;
}
.leftSection{
    font-size: 3rem;
}
#element{
    color: #d90077;
    font-weight: 500;
}
.rightSection img{
    height: 20%;
    width: 90%;
    border-radius: 15px;
    
}

main hr{
    border: 0;
    background-color: #240c2d;
    height: 4px;
    margin: 40px 84px;
}
.about{
    padding: 80px 80px;
}
.about .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1{
    flex-basis: 35%;
}
.col-1 img{
    width: 100%;
    border-radius: 15px;
}
.col-2{
    flex-basis: 60%;
}
.col-2 h1{
    font-size: 55px;
    font-weight: 600;
    color: white;
}
.col-2 p{
    color: rgb(172, 171, 171);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d90077;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #d90077;    
}
.tab-contents{
    display: none;
}
.active-tab{
    display: block;
}
/*-----Services-----*/
.services {
    margin: 40px 80px;
}
.services h1{
    font-size: 55px;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.service-list div{
    background: #240c2d;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition-duration: 1s;
}
.service-list div i{
    font-size: 40px;
    margin-bottom: 10px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div:hover{
    background-color: #d90077;
    transform: translateY(-10px);
}
/* --------------PORTFOLIO-------------- */
.portfolio h1{
    padding: 50px 0;
    margin-left: 90px;
    font-size: 40px;
}
.work-list{
    margin-left: 65px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    margin-top: 35px;
    margin-bottom: 80px;
}
.work{
    width: 90%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition-duration: 1s;
}
.music{
    height: 340px;
}
.shop{
    height: 340px;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #d90077);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 11px;
    transition-duration: .8s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    font-size: 15px;
    color: #d90077;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 50px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/*-----------Contact me Section-------------*/
.contact{
    margin-left: 70px;
}
.row{
    display: flex;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin: 20px 0;
}
.contact-left p i{
    color: #d90077;
    margin-right: 13px;
    font-size: 20px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    font-size: 20px;
    margin-right: 25px;
    display: inline-block;
    transition-duration: .2s;
}
.social-icons a:hover{
    color: #d90077;
}
.contact-right{
    flex-basis: 60%;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    background-color: #240c2d;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form .btn{
    padding: 15px;
    width: 120px;
    background-color : #240c2d;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;
}
/*------copyright-----*/
.copyright{
    text-align: center;
    width: 100%;
    padding: 15px 0;
    background-color: #240c2d;
    margin-top: 30px;
}

.grey{
    color: grey;
}
.second h1{
    font-size: 2rem;
}
.second .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 100px 0;
    display: flex;
}
.second .vertical{
    width: 2px;
    height: 90px;
    background-color: white;
    margin: 0 100px
}
.first .buttons{
    padding: 50px 0;
}
.first .btn {
    padding: 12px;
    background-color : #240c2d;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;
}
